spring:
  config:
    import: optional:file:.env[.properties]

  rabbitmq:
    host: ${RABBITMQ_HOSTNAME}
    port:
      - ${RABBITMQ_AMQP_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
    template:
      exchange: ${RABBITMQ_EXCHANGE_NAME}
      routing-key:
        upsert_user:
          request: ${RABBITMQ_UPSERT_USER_REQUEST_ROUTING_KEY}
          response: ${RABBITMQ_UPSERT_USER_RESPONSE_ROUTING_KEY}
    queues:
      request_to_database: ${RABBITMQ_REQUEST_TO_DATABASE_QUEUE}

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate